$enable-gradients: true;

.content {
  text-align: "left";
}

.status-container {
  background-color: green;
  color: white;
  font-weight: 600;
  border-radius: 5px;
}

.item-container {
  background: radial-gradient(circle at 10% 20%, rgb(254, 255, 165) 0%, rgb(255, 232, 182) 90%);
}

.text-container {
    text-align: left;
    text-overflow: ellipsis;
    max-lines: 2;
    max-width: 350px;
    white-space: nowrap;
    overflow: hidden;
    //max-width: 300px;
}

.icon-container {
  cursor: pointer;
}

.add-button {
    color: white;
    font-size: larger;
    font-weight: 600;
    background-color:cadetblue;
    border-radius: 10px;
    border-width: 0cap;
}
